PORT=
JWT_SECRET_KEY=
MONGO_DB_URL=
INFOBIP_URL=
INFOBIP_API_KEY=
INFOBIP_APP_ID=
INFOBIP_MSG_ID=
JWT_SECRET=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=